<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.connection.url">jdbc:postgresql:team-service</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.show_sql">true</property>
        <mapping resource="it/infolabs/hibernate/Clienti.hbm.xml" />
        <mapping resource="it/infolabs/hibernate/TmpEtichetteFornitori.hbm.xml" />
        <mapping resource="it/infolabs/hibernate/TipoDocumento.hbm.xml" />
        <mapping resource="it/infolabs/hibernate/CategoriaCliente.hbm.xml" />
        <mapping resource="it/infolabs/hibernate/Documenti.hbm.xml" />
        <mapping resource="it/infolabs/hibernate/DocumentoCliente.hbm.xml" />
        <mapping resource="it/infolabs/hibernate/TmpEtichette.hbm.xml" />
        <mapping resource="it/infolabs/hibernate/Provincia.hbm.xml" />
        <mapping resource="it/infolabs/hibernate/DettagliDocumenti.hbm.xml" />
        <mapping resource="it/infolabs/hibernate/Ente.hbm.xml" />
    </session-factory>
</hibernate-configuration>
