<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.connection.url">jdbc:postgresql:pegaso</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <mapping class="erreeffe.entity.Categoria" />
        <mapping class="erreeffe.entity.Aspetto" />
        <mapping class="erreeffe.entity.Articoli" />
        <mapping class="erreeffe.entity.Carichi" />
        <mapping class="erreeffe.entity.Banca" />
        <mapping class="erreeffe.entity.TmpEtichetteFornitori" />
        <mapping class="erreeffe.entity.Progressivi" />
        <mapping class="erreeffe.entity.TmpScelti" />
        <mapping class="erreeffe.entity.TipoDocumento" />
        <mapping class="erreeffe.entity.DettaglioOrdini" />
        <mapping class="erreeffe.entity.ContoBancario" />
        <mapping class="erreeffe.entity.Provincia" />
        <mapping class="erreeffe.entity.Reparti" />
        <mapping class="erreeffe.entity.Utenti" />
        <mapping class="erreeffe.entity.Fornitori" />
        <mapping class="erreeffe.entity.Prenotazione" />
        <mapping class="erreeffe.entity.Documenti" />
        <mapping class="erreeffe.entity.Causale" />
        <mapping class="erreeffe.entity.TmpEtichette" />
        <mapping class="erreeffe.entity.DettaglioOrdineManuale" />
        <mapping class="erreeffe.entity.DettagliDocumenti" />
        <mapping class="erreeffe.entity.DocumentoCliente" />
        <mapping class="erreeffe.entity.DettaglioCarichi" />
        <mapping class="erreeffe.entity.Nazionalita" />
        <mapping class="erreeffe.entity.Clienti" />
        <mapping class="erreeffe.entity.Pagamento" />
        <mapping class="erreeffe.entity.Ordini" />
        <mapping class="erreeffe.entity.Um" />
        <mapping class="erreeffe.entity.Ente" />
        <mapping class="erreeffe.entity.MovimentoBanca" />
    </session-factory>
</hibernate-configuration>
